.body {
    position: relative;
    background-color: rgba(203, 130, 212, 0.979);
    padding-top: 10em;

    /* aca */
    transition: 0.5s ease-in-out;
}

/* aca */
input[type="checkbox"] {
    margin-left: 7em;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: salmon;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
input[type="checkbox"]:checked {
    background-color: #434343;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(38, 84, 184);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.7s ease;
}
input[type="checkbox"]:checked::before {
    transform: translateX(20px);
    background-color: #f2f2f2;
}
.dark-mode {
    background-color: #252525;
    color: #f2f2f2;

}


.pedir {
    color: #20a859;
}

.marca {
    text-align: center;
    color: rgb(237, 153, 248);
    font-style: normal;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.titSec {
    background: #333;
    width: 100%;
    margin: 5 5 5;
    background: linear-gradient(rgb(133, 194, 175), black);

    padding: 2em 0em 0em;
    color: lawngreen;
    text-align: center;
    font-size: xx-large;
}

h5 {
    color: rgb(99, 73, 9);
}

.tit {
    padding: 1em 0em 0em;
    text-align: center;
    font-family: monospace;
}

.referencias {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.container {
    padding-bottom: 3em;
}

.grilla {
    display: grid;
    margin: auto;
    margin-bottom: 60px;
    max-width: 800px;
    /* height: 800px; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;

    /* box-sizing: border-box; */
    /* border: 3px solid rgb(230, 28, 13); */
}

.fotoGrilla {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cajas1 {
    width: 100%;
    height: 100%;
    grid-column-start: span 2;
    position: relative;
}

.cajas2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.cajas3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.cajas4 {
    width: 100%;
    height: 100%;
    grid-column-start: span 2;
    position: relative;
}

.cajas5 {
    width: 100%;
    height: 100%;
    grid-column-start: span 2;
    position: relative;
}

.cajas6 {
    width: 100%;
    height: 100%;
    position: relative;
}

.botones {
    display: flex;
    position: absolute;
    top: 10px;

    padding: 12px;
    border-radius: 100%;
    animation-delay: 3s;


    font-size: 135%;
    color: white;
    background-color: rgb(0, 255, 13);
    width: auto;
    height: auto;
}

.botones:hover {
    box-shadow: 10px 10px 10px rgb(7, 56, 11);
}

.nav-item:hover {
    background-color: #0e37ec;
    box-shadow: 5px 5px 10px rgb(30, 48, 128);
    transition: all 0.4s;
    border-radius: 100%;
}

.containerPromo {
    display: grid;
    margin: auto;
    margin-bottom: 60px;
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;

    border-radius: 40px;
    border: 3px solid rgb(230, 28, 13);
}

.fotoPromo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.promoActual {
    width: 100%;
    height: 100%;
    grid-column-start: span 2;
    position: relative;
}

.textoPromo {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: linear-gradient(rgb(224, 46, 150), rgb(10, 10, 224));
    color: aliceblue;
    border-radius: 40px;

}

.footer {
    position: relative;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0%;
    bottom: 0%;
    background-color: black;
    padding: 3em;
}

.footer div {
    text-align: end;
    text-indent: 40px;
    font-weight: bolder;
    font-size: large;
}

.logoFooter {
    text-align: left;
}

.redes {
    color: dimgray;
    text-align: right;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}